.auth-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: transparent
    linear-gradient(248deg, $bottom-color 0%, $bottom-color 100%) 0% 0%
    no-repeat padding-box;
  display: block;
  overflow: auto;
  .upper-side {
    position: relative;
    width: 100vw;
    height: 35vh;
    box-sizing: border-box;
    background: transparent
      linear-gradient(
        248deg,
        $landing-color-primary 0%,
        $landing-color-secondary 100%
      )
      0% 0% no-repeat padding-box;

    opacity: 1;
    .tag-line-container {
      @include display-row;

      .back-btn {
        position: absolute;
        top: 5rem;
        left: 4.375rem;
        cursor: pointer;
        font-size: 0.875rem;
        color: $primary-color;
      }

      @include mobile {
        .back-btn {
          left: 2rem;
        }
      }
    }
  }
}
