.dashboard-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  background: transparent
    linear-gradient(248deg, $bottom-color 0%, $bottom-color 100%) 0% 0%
    no-repeat padding-box;
  display: block;
  overflow: auto;

  .recruiter-nav {
    position: relative;
    height: 30%;
    width: 100vw;
    box-sizing: border-box;
    background: transparent
      linear-gradient(
        248deg,
        $landing-color-primary 0%,
        $landing-color-secondary 100%
      )
      0% 0% no-repeat padding-box;

    opacity: 1;
    position: relative;

    .tag-line-container {
      @include display-column;
      position: relative;

      .tag-line {
        position: relative;
        top: 2rem;
        left: 8.5%;
        font-size: 1.25rem;
        font-weight: 500;
        color: $primary-color;
        width: 20%
      }

      .back-btn {
        position: absolute;
        // top: 0.5rem;
        left: 8.5%;
        cursor: pointer;
        font-size: 0.8rem;
        color: $primary-color;
      }

      @include mobile {
        .tag-line {
          width: 15rem;
          left: 7%;
        }
        .back-btn {
          left: 7%;
        }
      }
    }
  }

  .posted-jobs-container {
    position: absolute;
    top: 9rem;
    margin: 0 4rem;
  }
}
