// @import "../partials/all";

// .dashboard-container {
//   position: relative;
//   top: 0px;
//   left: 0px;
//   background: transparent
//     linear-gradient(248deg, $bottom-color 0%, $bottom-color 100%) 0% 0%
//     no-repeat padding-box;

//   .dashboard-nav {
//     height: 13rem;
//     box-sizing: border-box;
//     background: transparent
//       linear-gradient(
//         248deg,
//         $landing-color-primary 0%,
//         $landing-color-secondary 100%
//       )
//       0% 0% no-repeat padding-box;

//     opacity: 1;
//     position: relative;

//     .dash-line {
//       color: $line-color;
//       position: relative;
//       height: 2px;
//       width: 80%;
//       left: 10%;
//       top: 0.5rem;
//     }

//     .head-dashboard {
//       @include display-row;
//       height: 4rem;
//       position: relative;
//       .title-dashboard {
//         position: relative;
//         @include display-row;
//         top: 3rem;
//         left: 10rem;
//         font-size: 1.5rem;

//         #my {
//           color: $primary-color;
//         }

//         #jobs {
//           color: $secondary-color;
//         }

//         .apply-jobs {
//           color: $primary-color;
//           position: relative;
//           font-size: 1rem;
//           width: 6rem;
//           height: 1rem;
//           left: 40rem;
//           cursor: pointer;
//           &.active {
//             &::after {
//               content: "";
//               position: absolute;
//               left: 50%;
//               transform: translateX(-50%);
//               height: 4px;
//               width: 50%;
//               background-color: $secondary-color;
//               bottom: -25px;
//             }
//           }
//         }

//         @include mobile {
//           .apply-jobs {
//             position: relative;
//             left: 4rem;
//           }
//         }

//         @include mobile-o-l {
//           .apply-jobs {
//             position: relative;
//             left: 3rem;
//           }
//         }

//         .profile-container {
//           position: relative;
//           left: 45rem;
//           bottom: 1rem;
//           .user-profile {
//             @include display-row;
//             @include align-justify-center;
//             width: 2.875rem;
//             height: 2.875rem;
//             background: $profile-color 0% 0% no-repeat padding-box;
//             border: 1px solid $profile-color;
//             border-radius: 25px;
//             color: $landing-color-primary;
//             font-size: 1rem;
//             cursor: pointer;
//           }
//           .logout-btn {
//             position: relative;
//             width: 7rem;
//             height: 3rem;
//             cursor: pointer;
//             font-size: 1rem;
//             border: 1px solid $primary-color;
//             border-radius: 5px;
//             visibility: hidden;
//             top: 0.675rem;
//             &.active {
//               visibility: visible;
//             }
//           }

//           @include mobile {
//             .logout-btn {
//               width: 5rem;
//               height: 2rem;
//             }
//           }
//         }
//         @include mobile {
//           .profile-container {
//             position: relative;
//             left: 6rem;
//           }
//         }
//       }
//       @include mobile {
//         .title-dashboard {
//           position: relative;
//           left: 3rem;
//         }
//       }
//     }

//     .tag-line-container {
//       @include display-row;
//       .tag-line {
//         position: relative;
//         top: 2rem;
//         left: 10rem;
//         font-size: 1.5rem;
//         color: $primary-color;
//       }
    //   .back-btn {
    //     position: relative;
    //     top: 2rem;
    //     width: 7rem;
    //     height: 3rem;
    //     left: 50rem;
    //     cursor: pointer;
    //     font-size: 1rem;
    //     color: $primary-color;
    //   }

//       @include mobile {
//         .tag-line {
//           position: relative;
//           left: 3rem;
//         }
        // .back-btn {
        //   position: relative;
        //   left: 7rem;
        // }
//       }
//     }
//   }

//   .content-container {
//     position: relative;
//     margin: 0 3rem;
//   }
// }
