@import "../partials/all";

.form {
  position: absolute;
  top: 40%;
  left: 33%;
  width: 28rem;
  background: $primary-color 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 36px $shadow-color;
  border-radius: 20px;
  opacity: 1;

  .role-error {
    color: $error-color;
    font-size: 0.8rem;
  }

  .form-content {
    padding: 1.5rem 2rem;
    color: $landing-color-primary;

    .head {
      font-size: 1.25rem;
      font-weight: 500;
      padding-bottom: 1rem;
      opacity: 1;
    }

    .head-text {
      font-size: 0.8rem;
    }

    .user-type {
      @include display-row;

      &-0 {
        @include display-row;
        @include align-justify-center;
        width: 8rem;
        height: 2.875rem;
        font-size: 0.8rem;
        cursor: pointer;
        color: $landing-color-primary;
        background: $primary-color 0% 0% no-repeat padding-box;
        border: 1px solid $user-primary;
        border-radius: 5px;
        opacity: 1;
        &.active {
          color: $primary-color;
          background: $secondary-color 0% 0% no-repeat padding-box;
          border: 1px solid $secondary-color;
        }
      }
      &-1 {
        @include display-row;
        @include align-justify-center;
        width: 8rem;
        height: 2.875rem;
        font-size: 0.8rem;
        margin-left: 1rem;
        cursor: pointer;
        color: $landing-color-primary;
        background: $primary-color 0% 0% no-repeat padding-box;
        border: 1px solid $user-primary;
        border-radius: 5px;
        opacity: 1;
        &.active {
          color: $primary-color;
          background: $secondary-color 0% 0% no-repeat padding-box;
          border: 1px solid $secondary-color;
        }
      }
    }

    .text-field {
      padding: 0.7rem 0;
      .label-container {
        display: flex;
        label {
          position: relative;
          font-size: 0.8rem;
        }
        .label-text {
          cursor: pointer;
          position: absolute;
          font-size: 0.8rem;
          left: 60%;
          a {
            text-decoration: none;
            color: $secondary-color;
          }
        }
        @include mobile {
          .label-text {
            left: 50%;
          }
        }
      }

      input.form-control {
        margin-top: 0.35rem;
        font-size: 0.8rem;
        width: 100%;
        height: 2.5rem;
        background: $focus-color;

        .form-control:focus {
          background: $focus-color;
        }
        .form-control:valid {
          background: $focus-color;
        }
      }
    }

    .error {
      position: absolute;
      color: $error-color;
      font: normal normal normal 12px/14px Helvetica Neue;
      letter-spacing: 0px;
      opacity: 0.8;
    }

    .bottom-container {
      @include display-column;
      @include align-justify-center;
      padding: 1rem 0 0.5rem 0;
      .login-text {
        font-size: 0.8rem;
        a {
          text-decoration: none;
          color: $secondary-color;
        }
      }

      .primary-button {
        @include display-row;
        @include align-justify-center;
        cursor: pointer;
        width: 8rem;
        height: 2.8rem;
        line-height: 1rem;
        font-size: 0.875rem;
        color: $primary-color;
        margin: 0.5rem 0;
        background: $secondary-color 0% 0% no-repeat padding-box;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        opacity: 1;
        padding: 13px 48px;
        &:hover {
          background: $button-secondary 0% 0% no-repeat padding-box;
        }
      }

      .bottom {
        margin: 1rem 0;
      }
    }

    .password-container {
      display: flex;
      .text-field:nth-child(1) {
        padding-right: 1.5rem;
        width: 15rem;
      }
      .text-field:nth-child(2) {
        padding-left: 1.5rem;
        width: 15rem;
      }
    }
  }
}

@include mobile {
  .form {
    position: relative;
    top: 10%;
    left: 7%;
    width: 22rem;
    margin-top: 1rem;
  }
}

.top-35 {
  top: 35%;
}
@include mobile {
  .top-35 {
    top: 0;
  }
}
