@import "../partials/all";

.container-homepage {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background: transparent
    linear-gradient(248deg, $bottom-color 0%, $bottom-color 100%) 0% 0%
    no-repeat padding-box;
  display: block;
  overflow: auto;

  .picture {
    position: absolute;
    top: 7rem;
    left: 49%;
    width: 30rem;
    height: 20rem;
    background: transparent url("../../assets/profile.jpg") 0% 0% no-repeat
      padding-box;
    box-shadow: 0px 30px 36px $shadow-color;
    border-radius: 20px;
    opacity: 1;
  }
  @include mobile {
    .picture {
      top: 16rem;
      left: 23%;
      width: 15rem;
      height: 10rem;
      background: transparent url("../../assets/profile-sm.jpg") 0% 0% no-repeat
        padding-box;
      box-shadow: 0px 30px 36px $shadow-color;
      border-radius: 20px;
      opacity: 1;
    }
  }
  .upper-div {
    position: relative;
    height: 54%;
    background: transparent
      linear-gradient(
        248deg,
        $landing-color-primary 0%,
        $landing-color-secondary 100%
      )
      0% 0% no-repeat padding-box;

    .content-block {
      @include display-row;
      position: absolute;
      top: 8rem;
      left: 15%;
      width: 18rem;
      height: 9rem;
      .content {
        @include display-column;
        div:first-child {
          font-size: 3rem;
          color: $primary-color;
        }

        .myJobs {
          font-size: 3rem;
          font-weight: bold;
          #my {
            color: $primary-color;
          }

          #jobs {
            color: $secondary-color;
          }
        }

        .primary-button {
          @include display-row;
          @include align-justify-center;
          cursor: pointer;
          width: 9.875rem;
          height: 2.875rem;
          font-size: 1rem;
          font-weight: bold;
          color: $primary-color;
          margin: 0.5rem 0;
          background: $secondary-color 0% 0% no-repeat padding-box;
          border: 1px solid $secondary-color;
          border-radius: 5px;
          opacity: 1;
          padding: 13px 30px;
          &:hover {
            background: $button-secondary 0% 0% no-repeat padding-box;
          }
        }
      }
    }

    @include mobile {
      .content-block {
        @include display-column;
        top: 5rem;
        left: 25%;

        .content {
          top: 2rem;
          left: 2rem;
          div:first-child {
            font-size: 2rem;
            color: $primary-color;
          }

          .myJobs {
            font-size: 2rem;
            font-weight: bold;
            #my {
              color: $primary-color;
            }

            #jobs {
              color: $secondary-color;
            }
          }
        }
      }
    }

    .why-us {
      position: absolute;
      top: 32rem;
      left: 14%;

      .why-us-tagline {
        color: $landing-color-primary;
        text-transform: capitalize;
        opacity: 1;
        font-size: 1.25rem;
        font-weight: 500;
        left: 10rem;
      }
      .why-us-card {
        margin-top: 2rem;
        width: 18rem;
        height: 10rem;
        background: $primary-color 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px $shadow-color;
        border-radius: 5px;
        left: 10rem;
        opacity: 1;
        .heading {
          color: $secondary-color;
          text-transform: capitalize;
          opacity: 1;
          font-size: 1.25rem;
          padding: 1rem;
        }
        .text {
          color: $landing-color-primary;
          font-size: 0.8rem;
          width: 18rem;
          height: 3.5rem;
          padding-left: 1rem;
        }
      }

      .trust-us-container {
        height: 12rem;
        padding: 5rem 0;
        left: 10rem;
        .trust-us-tagline {
          color: $landing-color-primary;
          text-transform: capitalize;
          opacity: 1;
          font-size: 1.25rem;
          font-weight: 500;
        }
        .company-logos {
          padding: 2rem 1rem 5rem 0rem;
        }
        @include mobile {
          .company-logos {
            padding: 2rem 1rem 5rem 5rem;
          }
        }
      }
    }
  }
}

.homepage-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 75rem;
  background: transparent
    linear-gradient(248deg, $bottom-color 0%, $bottom-color 100%) 0% 0%
    no-repeat padding-box;

  .why-us {
    position: relative;
    margin: 0;
    top: 8rem;
  }
}

.padding-top {
  padding-top: 2rem;
}

.head-homepage {
  @include display-row;
  position: relative;
  height: 5rem;

  a {
    text-decoration: none;
  }

  .login-button {
    @include display-row;
    @include align-justify-center;
    position: relative;
    top: 1rem;
    left: 77%;
    cursor: pointer;
    background: $button-color 0% 0% no-repeat padding-box;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    opacity: 1;
    width: 7.5rem;
    height: 2.2rem;
    padding: 13px 23px;
    font-size: 0.875rem;
    color: $primary-color;
    &:hover {
      background-color: transparent;
    }
  }
  @include mobile {
    .login-button {
      top: 1.5rem;
      left: 45%;
      width: 7rem;
      height: 2rem;
      font-size: 0.875rem;
    }
  }

  .title-homepage {
    position: relative;
    top: 1rem;
    left: 4.375rem;
    // font-weight: bold;
    font-size: 1.25rem;
    #my {
      color: $primary-color;
      font-weight: bold;
    }

    #jobs {
      color: $secondary-color;
      font-weight: bold;
    }
  }

  @include mobile {
    .title-homepage {
      top: 1.5rem;
      left: 2rem;
      font-size: 1.5rem;
    }
  }

  .post-job {
    color: $primary-color;
    position: relative;
    font-size: 1rem;
    width: 6rem;
    height: 1rem;
    left: 70%;
    top: 1.5rem;
    cursor: pointer;
    &.active {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-60%);
        height: 4px;
        width: 50%;
        background-color: $secondary-color;
        bottom: -25px;
      }
    }
  }
  .apply-jobs {
    color: $primary-color;
    position: relative;
    font-size: 1rem;
    width: 6rem;
    height: 1rem;
    left: 70%;
    top: 1.5rem;
    cursor: pointer;
    &.active {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-60%);
        height: 4px;
        width: 50%;
        background-color: $secondary-color;
        bottom: -25px;
      }
    }
  }

  @include mobile {
    .post-job {
      position: relative;
      left: 8rem;
    }
    .apply-jobs {
      position: relative;
      left: 8rem;
    }
  }
}

.dash-line {
  color: $line-color;
  position: absolute;
  width: 87%;
  left: 4.375rem;
  top: 3rem;
  z-index: 1;
}
@include mobile {
  .dash-line {
    left: 2rem;
  }
}

.welcome {
  position: relative;
  height: 25rem;
  box-sizing: border-box;
  background: transparent
    linear-gradient(
      248deg,
      $landing-color-primary 0%,
      $landing-color-secondary 100%
    )
    0% 0% no-repeat padding-box;

  opacity: 1;
}

.profile-container {
  @include display-row;
  position: relative;
  left: 74%;
  top: 1rem;

  .fa {
    position: relative;
    color: $primary-color;
    cursor: pointer;
    width: 13px;
    height: 8px;
    left: 0.5rem;
    top: 0.8rem;
  }
  .user-profile {
    @include display-row;
    @include align-justify-center;
    width: 2.5rem;
    height: 2.5rem;
    background: $profile-color 0% 0% no-repeat padding-box;
    border: 1px solid $profile-color;
    border-radius: 25px;
    color: $landing-color-primary;
    font-size: 1rem;
  }

  .logout-btn {
    position: absolute;
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0 30px 0 10px;
    background: $primary-color 0% 0% no-repeat padding-box;
    border: 1px solid $primary-color;
    border-radius: 5px;
    visibility: hidden;
    top: 2.6rem;
    left: -2rem;
    z-index: 2;
    &.active {
      visibility: visible;
    }
  }

  @include mobile {
    .logout-btn {
      left: -1rem;
      width: 5rem;
      height: 2rem;
      font-size: 0.7rem;
    }
  }
}

@include mobile {
  .profile-container {
    position: relative;
    left: 9rem;
  }
}

.error-page {
  @include display-column;
  @include align-justify-center;
  width: 100vw;
  height: 100vh;
  .error-text {
    font-size: 2rem;
  }
  @include mobile {
    .error-text {
      font-size: 1rem;
    }
  }
}
