.modal-container {
  padding: 0.5rem;
  height: 80%;
  .heading-container {
    padding-bottom: 1rem;
    .modal-heading {
      color: $landing-color-primary;
      font-size: 1rem;
      font-weight: 600;
    }
    .cross-container {
      position: relative;
      .cross-btn {
        position: absolute;
        color: $landing-color-primary;
        cursor: pointer;
        font-weight: 600;
        padding-left: 12.5rem;
      }
      @include mobile {
        .cross-btn {
          padding-left: 9rem;
        }
      }
    }
  }

  hr {
    margin: 0;
  }
  .modal-text {
    padding: 0.5rem 0;
    color: $landing-color-primary;
    font-size: 0.875rem;
  }
  .main-container {
    max-width: 100%;
    margin: 0 auto;
    background: transparent
      linear-gradient(248deg, $shadow-color 0%, $shadow-color 100%) 0% 0%
      no-repeat padding-box;

    .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      .no-applicants {
        @include display-column;
        @include align-justify-center;
        width: 100%;
        padding: 2rem 0;
        .no-applicants-logo {
          background: transparent url("../../assets/notepad.png") 0% 0%
            no-repeat padding-box;
          width: 128px;
          height: 128px;
          filter: invert(80%);
          -webkit-filter: invert(85%);
        }
        .no-content {
          padding-top: 1rem;
          color: #303f60;
          font-size: 1rem;
        }
      }

      .cards_item {
        position: relative;
        display: flex;
        padding: 0.5rem;
        width: 14rem !important;
        height: 10rem;

        .card {
          background: $primary-color 0% 0% no-repeat padding-box;
          box-shadow: 0px 3px 6px $shadow-color;
          border-radius: 5px;
          @include display-column;
          overflow: hidden;
          width: 15rem !important;

          .card_content {
            padding: 10px;
            color: #303f60;
            .card-header {
              @include display-row;
              background: $primary-color 0% 0% no-repeat padding-box;
              border: none;
              padding: 0;
              .profile-pic {
                @include display-row;
                @include align-justify-center;
                background: #d9efff 0% 0% no-repeat padding-box;
                color: #303f60;
                font-size: 1rem;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 25px;
              }
              .card_title {
                @include display-column;
                .name {
                  font-size: 0.875rem;
                  font-weight: 600;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  padding-left: 1rem;
                }
                .email {
                  font-size: 0.7rem;
                  font-weight: 500;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  padding-left: 1rem;
                }
              }
            }
            .skills-container {
              @include display-column;
              position: relative;
              top: 1rem;
              .skill-head {
                font-size: 0.8rem;
                font-weight: 600;
              }
              .skill-content {
                font-size: 0.875rem;
                font-weight: 500;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }

        @media (min-width: 40rem) {
          .cards_item {
            width: 50%;
          }
        }

        @media (min-width: 56rem) {
          .cards_item {
            width: 33.3333%;
          }
        }
      }
    }

    @include mobile {
      .cards {
        @include display-row;
        @include align-justify-center;
      }
    }
  }
}

.modal-body {
  // border-radius: 25px;
}
