.main {
  width: 100%;
  margin: 0 auto;
  left: 2.5%;
  min-height: calc(80vh - 4rem);
  min-width: 90vw;
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 2rem;

    .cards_item {
      position: relative;
      display: flex;
      padding: 1rem 0.8rem;
      width: 17rem;
      height: 12rem;

      .card {
        background: $primary-color 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px $shadow-color;
        border-radius: 0.25rem;
        @include display-column;
        overflow: hidden;
        width: 17rem;
      }

      @media (min-width: 40rem) {
        .cards_item {
          width: 50%;
        }
      }

      @media (min-width: 56rem) {
        .cards_item {
          width: 33.3333%;
        }
      }
    }
  }

  @include mobile {
    .cards {
      padding: 0;
    }
  }
}

@include mobile {
  .main {
    min-width: 80vw;
  }
}

.card_content {
  padding: 0.875rem;
  background: $primary-color 0% 0% no-repeat padding-box;
  .card_title {
    color: $landing-color-primary;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .card_text {
    color: $landing-color-primary;
    font-size: 0.875rem;
    padding: 0.5rem 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 4rem;
  }
  .card-bottom {
    @include display-row;
    position: relative;
    width: 100%;
    padding-top: 0.5rem;
    .card-icon {
      position: relative;
      width: 1.2rem;
      .fa {
        top: 30%;
        left: 30%;
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        color: $secondary-color;
      }
    }

    .location-container {
      width: 5rem;
      .location {
        @include display-row;
        padding-top: 0.5rem;
        font-size: 0.875rem;
        text-transform: capitalize;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .btn-container-apply {
      margin-left: 1.5rem;

      .btn-apply {
        @include display-row;
        @include align-justify-center;
        position: relative;
        cursor: pointer;
        background: $button-color 0% 0% no-repeat padding-box;
        border: 1px solid $button-color;
        border-radius: 5px;
        opacity: 1;
        width: 3.75rem;
        height: 1.875rem;
        line-height: 1rem;
        font-size: 0.875rem;
        margin-left: 2rem;
        color: $landing-color-primary;
        &:hover {
          background-color: $bottom-color;
        }
      }
    }
    .btn-container-view {
      margin-left: 0.5rem;

      .btn-view {
        @include display-row;
        @include align-justify-center;
        position: relative;
        cursor: pointer;
        background: $button-color 0% 0% no-repeat padding-box;
        border: 1px solid $button-color;
        border-radius: 5px;
        opacity: 1;
        width: 7rem;
        height: 2rem;
        font-size: 0.6875rem;

        color: $landing-color-primary;
        &:hover {
          background-color: $bottom-color;
        }
      }
    }
  }
}

.disabled {
  color: grey;
  background-color: grey !important;
}

.no-jobs-container {
  @include display-column;
  @include align-justify-center;
  position: relative;
  width: 90vw;
  height: 30vw;
  top: 5rem;
  .no-jobs {
    padding-top: 1rem;
    color: $landing-color-primary;
    font-size: 1.25rem;
  }
  .nothing-icon {
    background: transparent url("../../assets/notepad.png") 0% 0% no-repeat
      padding-box;
    width: 128px;
    height: 128px;
    filter: invert(50%);
    -webkit-filter: invert(80%);
  }
  .primary-button {
    @include display-row;
    @include align-justify-center;
    cursor: pointer;
    width: 9.25rem;
    height: 2.875rem;
    line-height: 1rem;
    font-size: 0.875rem;
    color: $primary-color;
    padding: 13px 31px;
    margin: 1rem 0;
    background: $secondary-color 0% 0% no-repeat padding-box;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    opacity: 1;
    &:hover {
      font-size: 0.9rem;
      background: $button-secondary 0% 0% no-repeat padding-box;
    }
  }
}

@include mobile {
  .no-jobs-container {
    width: 20rem;
    height: 30rem;
  }
}

.container-pagination {
  @include display-row;
  @include align-justify-center;
  bottom: 0;
  width: 100%;
  align-self: flex-end;
  padding: 2rem 0;
  height: 4rem;

  .pagination-center {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid $user-primary;
    margin: 0 0.5rem;
    border-radius: 3px;
    background: $button-color;
    .page {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $landing-color-primary;
      font-size: 13px;
    }
  }

  .pagination-button {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid $user-primary;
    background: transparent
      linear-gradient(248deg, $bottom-color 0%, $bottom-color 100%) 0% 0%
      no-repeat padding-box;
    position: relative;
    border-radius: 3px;
    .fa {
      position: absolute;
      color: $landing-color-primary;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.disabled {
      .fa {
        color: $user-primary;
      }
    }
  }
}
