.password-form {
  position: relative;
  top: 5rem;
  left: 25rem;
  width: 30rem;
  background: $primary-color 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 36px $shadow-color;
  border-radius: 20px;
  opacity: 1;

  .bottom {
    @include display-column;
    @include align-justify-center;
    padding-bottom: 1rem;
    .primary-button {
      @include display-row;
      @include align-justify-center;
      cursor: pointer;
      width: 9.25rem;
      height: 2.875rem;
      line-height: 1rem;
      font-size: 0.875rem;
      color: $primary-color;
      margin: 1rem 0;
      background: $secondary-color 0% 0% no-repeat padding-box;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      opacity: 1;
      &:hover {
        font-size: 0.9rem;
        background: $button-secondary 0% 0% no-repeat padding-box;
      }
    }
  }

  .head {
    font-size: 1.25rem;
    padding-top: 1rem;
    color: $landing-color-primary;
    opacity: 1;
  }
  .head-text {
    padding-top: 1rem;
  }
}

@include mobile {
  .password-form {
    position: relative;
    top: 3rem;
    left: 3rem;
    width: 20rem;
  }
}
