.register-form {
  position: relative;
  top: 1rem;
  left: 25rem;
  width: 30rem;
  background: $primary-color 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 36px $shadow-color;
  border-radius: 20px;
  opacity: 1;

  .head {
    font-size: 1.25rem;
    padding-top: 1rem;
    color: $landing-color-primary;
    opacity: 1;
  }
  .bottom-container {
    @include display-column;
    @include align-justify-center;
    padding-bottom: 1rem;

    .primary-button {
      @include display-row;
      @include align-justify-center;
      cursor: pointer;
      width: 9.25rem;
      height: 2.875rem;
      line-height: 1rem;
      font-size: 0.875rem;
      color: $primary-color;
      margin: 1rem 0;
      background: $secondary-color 0% 0% no-repeat padding-box;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      opacity: 1;
      &:hover {
        font-size: 0.9rem;
        background: $button-secondary 0% 0% no-repeat padding-box;
      }
    }

    .bottom {
      margin: 1rem 0;
    }
  }

  @media only screen and (max-device-width: 480px) {
    position: relative;
    top: 3rem;
    left: 4rem;
    width: 15rem;
  }
}

@include mobile {
  .register-form {
    position: relative;
    top: 3rem;
    left: 2rem;
    width: 22rem;
  }
}

.form-password {
  @include display-row;
}

// .role-error {
//   color: $error-color;
//   font-size: 0.8rem;
// }

// .user-type {
//   @include display-row;

//   &-0 {
//     @include display-row;
//     @include align-justify-center;
//     width: 8rem;
//     height: 2.875rem;
//     cursor: pointer;
//     color: $landing-color-primary;
//     background: $primary-color 0% 0% no-repeat padding-box;
//     border: 1px solid $user-primary;
//     border-radius: 5px;
//     opacity: 1;
//     &.active {
//       color: $primary-color;
//       background: $secondary-color 0% 0% no-repeat padding-box;
//       border: 1px solid $secondary-color;
//     }
//   }
//   &-1 {
//     @include display-row;
//     @include align-justify-center;
//     width: 8rem;
//     height: 2.875rem;
//     margin-left: 1rem;
//     cursor: pointer;
//     color: $landing-color-primary;
//     background: $primary-color 0% 0% no-repeat padding-box;
//     border: 1px solid $user-primary;
//     border-radius: 5px;
//     opacity: 1;
//     &.active {
//       color: $primary-color;
//       background: $secondary-color 0% 0% no-repeat padding-box;
//       border: 1px solid $secondary-color;
//     }
//   }
// }
