$primary-color: #fff;
$secondary-color: #43afff;
$landing-color-primary: #303f60;
$landing-color-secondary: #1a253c;
$button-color: #43afff33;
$button-secondary: #93caf5;
$shadow-color: #557da526;
$user-secondary: #e8e8e833;
$user-primary: #c6c6c6;
$bottom-color: #edf6ff;
$line-color: #4d618e;
$profile-color: #d9efff;
$error-color: #ff0000;
$focus-color: #E8E8E833;
$disabled-color: #7C7C7C;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  landingColorPrimary: $landing-color-primary;
  landingColorSecondary: $landing-color-secondary;
}
